//footer
.footer-div {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.4rem;
}
.line {
  width: 100%;
  background-color: #DCDCDC;
  height: 2px;
  margin-top: 8rem;
}
p {
  width: 90%;
  margin: 0 auto ;
  font-style: italic;
  margin-top: 1.4rem;
}
