  <div>
    <div class="titlecon">
      <div class="lbox">
        <div class="width">
          <h1 class="title">  Check Out <br> Every Event Here </h1>
          <p class="title_des"> Tbilisi State Concert Hall </p>
        </div>
      </div>
      <div class="rbox">
        <img src="./assets/title_bg.png">
        <h1> Nini </h1>
      </div>
    </div>

    <div class="eventscon">
      <div class="eventbox">
        <div class="calendar">
          <p> 20 </p>
          <p> mar </p>
        </div>
        <div class="eventimg">
          <img src="./assets/guitar.png">
        </div>
          <p class="eventName"> Jazz festival </p>
          <p class="eventdes"> Tbilisi State Concert Hall </p>
          <p class="eventtime"> 19:00Pm </p>
      </div>
      <div class="eventbox">
        <div class="calendar">
          <p> 20 </p>
          <p> mar </p>
        </div>
        <div class="eventimg">
          <img src="./assets/sakura.png">
        </div>
        <p class="eventName"> Jazz festival </p>
        <p class="eventdes"> Tbilisi State Concert Hall </p>
        <p class="eventtime"> 19:00Pm </p>
      </div>
      <div class="eventbox">
        <div class="calendar">
          <p> 20 </p>
          <p> mar </p>
        </div>
        <div class="eventimg">
          <img src="./assets/guitar.png">
        </div>
        <p class="eventName"> Jazz festival </p>
        <p class="eventdes"> Tbilisi State Concert Hall </p>
        <p class="eventtime"> 19:00Pm </p>
      </div>
      <div class="eventbox">
        <div class="calendar">
          <p> 20 </p>
          <p> mar </p>
        </div>
        <div class="eventimg">
          <img src="./assets/mercedes.png">
        </div>
        <p class="eventName"> Jazz festival </p>
        <p class="eventdes"> Tbilisi State Concert Hall </p>
        <p class="eventtime"> 19:00Pm </p>
      </div>
      <div class="eventbox">
        <div class="calendar">
          <p> 20 </p>
          <p> mar </p>
        </div>
        <div class="eventimg">
          <img src="./assets/sakura.png">
        </div>
        <p class="eventName"> Jazz festival </p>
        <p class="eventdes"> Tbilisi State Concert Hall </p>
        <p class="eventtime"> 19:00Pm </p>
      </div>
      <div class="eventbox">
        <div class="calendar">
          <p> 20 </p>
          <p> mar </p>
        </div>
        <div class="eventimg">
          <img src="./assets/mercedes.png">
        </div>
        <p class="eventName"> Jazz festival </p>
        <p class="eventdes"> Tbilisi State Concert Hall </p>
        <p class="eventtime"> 19:00Pm </p>
      </div>
      <div class="eventbox">
        <div class="calendar">
          <p> 20 </p>
          <p> mar </p>
        </div>
        <div class="eventimg">
          <img src="./assets/sakura.png">
        </div>
        <p class="eventName"> Jazz festival </p>
        <p class="eventdes"> Tbilisi State Concert Hall </p>
        <p class="eventtime"> 19:00Pm </p>
      </div>
      <div class="eventbox">
        <div class="calendar">
          <p> 20 </p>
          <p> mar </p>
        </div>
        <div class="eventimg">
          <img src="./assets/guitar.png">
        </div>
        <p class="eventName"> Jazz festival </p>
        <p class="eventdes"> Tbilisi State Concert Hall </p>
        <p class="eventtime"> 19:00Pm </p>
      </div>
    </div>
  </div>
